{% extends 'base.html'%}
{% load bootstrap3 %}
{% block titulo %} Bienvenido{% endblock %}
{% block encabezado %}
	<h1> Bienvenido a PhotoPY </h1>
{% endblock %}
{% block sidebar %}
	<p>Estas logueado como {{usuario.username|upper}}</p>
	<p> la última vez que estuviste aquí fue el {{usuario.last_login}}</p>
	<p>Eres miembro desde {{usuario.date_joined}}</p>
	<a href='/'>Inicio</a> <br>
	<a href='/cerrar'>Cerrar Sesión</a>
{% endblock %}
{% block contenido %}
	<ul class = 'lista'>
	{% for item in listaFotos %}
		<li> <a href="/media/{{item.fuente}}"><img class="item" src="{{item.fuente.url}}" /></a> </li>
	{% endfor %}
	</ul>
{% endblock %}