{% extends 'base.html'%}
{% load bootstrap3 %}
{% block titulo %} Bienvenido{% endblock %}
{% block encabezado %}
	<h1> Bienvenido a PhotoPY </h1>
{% endblock %}
{% block sidebar %}
	<p>Estas logueado como {{usuario.username|upper}}</p>
	<p> la última vez que estuviste aquí fue el {{usuario.last_login}}</p>
	<p>Eres miembro desde {{usuario.date_joined}}</p>
	<a href='/'>Inicio</a> <br>
	<a href='/cerrar'>Cerrar Sesión</a>
{% endblock %}
{% block contenido %}
	<p>Estas viendo las fotos de {{nombreDuenio}}</p>
	<h2>{{nombreAlbum}} </h2>
	<ul class = 'lista'>	
	{% for item in listaFotos %}
		<!--<a href="/media/{{item.fuente}}"> </a>-->
		<a href='/foto/fotoInfo/{{item.nombre}}'>
			<img class='item' src="{{item.fuente.url}}" border='0' alt='Un maravilloso jardín'/>	
		</a>
		
	{% endfor %}
	</ul>
{% endblock %}